.not-found {
  width: 100%;
  text-align: center;
}

.not-found .back-button {
  margin-top: 100px;
}

.back-button a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}

.back-button a i {
  margin-right: 10px;
}

@media only screen and (max-width: 830px) {
  .not-found {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
