.header {
  text-align: center;
  margin: 50px 0;
  padding: 0 20px;
}

.title a {
  font-size: 3em;
  font-weight: 600;
  color: black;
  text-decoration: none;
  font-family: Poppins;
}

.description {
  margin-top: 20px;
}

.red {
  color: var(--font-accent);
}
