.header {
    text-align: center;
    margin: 50px 0 100px;
    flex: 1;
    height: var(--header-height)
}

.title a {
    font-size: 3em;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.description {
    margin-top: 20px;
}

.red {
    color: var(--font-accent)
}