<div class="footer">
    <ul>
        <li><a href="http://jacobianmatthews.com" target="_blank" rel="noopener">© {{year}} Jacob Ian
                Matthews</a></li>
        <li>•</li>
        <li><a routerLink="/disclaimer" routerLinkActive="true">Disclaimer</a></li>
        <li>•</li>
        <li><a (click)="this.showDonate = true">Donate</a></li>
    </ul>
    <div class="footer-version">Version: {{version}}</div>
    <app-donate [@showDonation] *ngIf="showDonate" [(show)]='this.showDonate' [stripe]='stripe'></app-donate>
</div>