.donation-container {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: opacity 0.2s ease-in-out;
}

.donation-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.donation-card {
  background: white;
  border-radius: 30px;
  padding: 30px;
  z-index: 100;
  position: relative;
  display: flex;
  min-height: 100px;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.donation-card * {
  transition: all 0.2s ease-in-out;
}

.donation-request {
  display: flex;
  flex-direction: column;
}

.donation-request .message {
  margin-bottom: 15px;
  text-align: center;
}

.donation-card h2,
h3 {
  margin-top: 0;
}

.donation-card .red {
  color: var(--color-primary);
}

.donation-card .donation-close {
  font-size: 1.2rem;
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
}

.donation-card .donation-close:hover {
  cursor: pointer;
}

.donation-card .hidden {
  opacity: 0;
  height: 0;
  overflow: none;
  position: absolute;
  pointer-events: none;
}

.donation-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation-card app-stylish-email {
  margin-top: 15px;
}

.donation-card app-stylish-select {
  min-width: 300px;
}

.donation-card .card-details {
  margin-top: 15px;
  padding: 20px;
  flex: 0;
  border-radius: 30px;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  transition: border-color 0.3s ease-in-out;
  min-width: 300px;
}

.donation-card .valid {
  border-color: green;
}

.donation-card .invalid {
  border-color: var(--color-primary);
}

.donation-card .donate-button {
  width: auto;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: #9a1111;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  transition: all ease-in-out 0.3s;
  font-family: var(--font-family);
  font-size: 1em;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.donate-button i {
  margin-right: 5px;
}

.donation-card .donate-button:hover,
.donation-card .donate-button:focus {
  cursor: pointer;
  background-color: var(--color-primary) !important;
}

.donation-card mat-progress-spinner {
  margin: 50px 150px;
}

.error-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-top: 15px;
}

.error-message i {
  margin-right: 5px;
}

.donation-complete {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donation-tick {
  display: flex;
  align-items: center;
  justify-content: center;
  border: green 1px solid;
  padding: 10px;
  border-radius: 50%;
  color: green;
  margin: 15px 0;
}

.donation-confirmation-details {
  margin: 0 40px;
  font-size: 0.9rem;
}

.donation-confirmation-details .donation-details-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.donation-confirmation-details .donation-details-label {
  margin-right: 20px;
  font-weight: bold;
}

.donation-thankyou {
  margin-top: 30px;
}

@media only screen and (max-width: 570px) {
  .donation-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 505px) {
  .error-message {
    flex-direction: column;
  }

  .error-message {
    text-align: center;
  }
  .error-message i {
    margin-right: 0;
    margin-top: 5px;
    order: 2;
  }

  .donation-details-row {
    flex-direction: column !important;
    margin: 20px 0 !important;
  }

  .donation-details-data {
    margin-top: 10px;
  }

  .donation-details-label {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 460px) {
  .donation-card {
    width: 95%;
  }
}
