<div class="donation-container">
  <div class="donation-backdrop" (click)="setShow(false)"></div>
  <div class="donation-card">
    <a class="donation-close" (click)="setShow(false)"><i class="material-icons md-36" alt="Close">close</i></a>
    <div class="message">
      <h2>Donate</h2>
      <p>Please consider donating to help keep <strong>transcr<span class="red">y</span>p<span
            class="red">t</span></strong> running ad-free.</p>
    </div>
    <app-stylish-select label="Donation Amount" [(ngModel)]='paymentAmount' (change)="createPaymentRequest()">
      <option *ngFor="let o of paymentOptions" [value]='o.amount'>${{o.amount/100}} - {{o.name}}</option>
    </app-stylish-select>
    <div id="payment-button-container" [@slideInOut] *ngIf="!this.thanks"></div>
    <div *ngIf="this.error" class="error-message" [@slideInOut]><i class="material-icons md-36">error</i>{{error}}</div>
    <div *ngIf='this.thanks' class="thanks" [@slideInOut]>Thank you for your donation!</div>
  </div>
</div>