/* You can add global styles to this file, and also import other style files */
/* Import the fonts */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500&family=Poppins:wght@600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #e62117;
  --color-secondary: #292f36;
  --font-main: #292f36;
  --font-accent: #e62117;
  --font-family: Archivo, Helvetica, Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

a {
  color: black;
  transition: all ease 1s;
  -moz-transition: all ease 1s;
  -webkit-transition: all ease 1s;
}
a:hover {
  color: var(--font-accent);
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.wrapper {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-wrapper {
  width: 100%;
}

.content-wrapper {
  min-height: 25vh;
  width: 100%;
  flex: 1 100%;
  justify-content: center;
}

.footer-wrapper {
  flex: 0;
  justify-self: flex-end;
  margin-top: 30px;
  width: 100%;
  min-height: 100px;
}
