/* You can add global styles to this file, and also import other style files */
/* Import the fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

:root {
    --color-primary: #e62117;
    --color-secondary: #292f36;
    --font-main: #292f36;
    --font-accent: #e62117;
    --header-height: 120px;
    --footer-height: 100px;
    --font-family: "Poppins", sans-serif;
}

html {
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    margin:0;
    color: var(--font-main);
    -webkit-font-smoothing: antialiased;
}

a {
    color: black;
    transition: all ease 1s;
    -moz-transition: all ease 1s;
    -webkit-transition: all ease 1s;
}
a:hover {
    color: var(--font-accent);
}

.content {
    min-height: 25vh;
}