.form-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 0 50px;
  height: 100%;
  width: 100%;
}

.flex-padding {
  flex: 1 1 auto;
  transition: flex 0.3s ease-in-out;
}

app-stylish-url {
  width: 100%;
  flex: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

app-stylish-select {
  margin-bottom: 25px;
  flex: 0;
}

.translate-toggle-box {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex: 0;
  margin-bottom: 25px;
}

.translate-radio-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.translate-toggle-box .translate-toggle-label {
  margin-right: 20px;
}

.translate-radio-box .translate-radio {
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.translate-radio-box .translate-radio label {
  font-size: 1em;
  margin-right: 5px;
}

.translate-radio-box .translate-radio input {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  margin-bottom: 1px;
}

.submit-button {
  width: auto;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: var(--font-accent);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
  transition: all ease-in-out 0.4s;
  font-family: var(--font-family);
  font-size: 1em;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #9a1313;
}

.submit-button:disabled {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  display: none;
}

.submit-button:disabled:hover {
  cursor: default;
}

/* SMALL DEVICES AND MOBILES */
@media only screen and (max-width: 500px) {
  .form-container {
    padding: 0 15px;
  }

  .translate-toggle-box {
    flex-direction: column !important;
  }

  .translate-toggle-box .translate-toggle-label {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .translate-radio-box .translate-radio:last-child {
    margin-right: 0;
  }

  .translate-select-box {
    flex-direction: column !important ;
  }
}

/* LARGE SCREEN DEVICES, e.g. DESKTOPS */
@media only screen and (min-width: 1440px) {
  .form-container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}
