<div class="form-container">
    <div class="flex-padding"></div>
    <app-stylish-url label="YouTube Video URL" inputName="url" [(captionsList)]='this.transcrypt.captionsList'
        [(url)]='this.transcrypt.url' (input)="this.resetForm()"></app-stylish-url>
    <app-stylish-select *ngIf="this.transcrypt.captionsList" [@enterLeaveAnimation] [(ngModel)]='transcrypt.captions'
        label="Choose Captions Track:" [disabled]="!transcrypt.captionsList" name='captions'>
        <option *ngFor="let c of this.transcrypt.captionsList.captions" [value]='c.query'>{{c.name}}</option>
    </app-stylish-select>
    <div class="translate-toggle-box" *ngIf='transcrypt.captions' [@enterLeaveAnimation]>
        <div class="translate-toggle-label">Translate Captions?:</div>
        <mat-radio-group class="translate-radio-box" aria-labelledby="translate-toggle-label"
            [(ngModel)]='transcrypt.translation.enabled' name="translationEnabled">
            <div class="translate-radio">
                <mat-radio-button [value]='true'>Yes</mat-radio-button>
            </div>
            <div class="translate-radio">
                <mat-radio-button [value]='false' checked>No</mat-radio-button>
            </div>
        </mat-radio-group>
    </div>
    <app-stylish-select *ngIf='transcrypt.translation.enabled' [@enterLeaveAnimation] label="Select Language:"
        [(ngModel)]="transcrypt.translation.language" [disabled]="!transcrypt.translation.enabled"
        name="translationLanguage">
        <option *ngFor="let l of this.transcrypt.captionsList.translation_langs" [attr.value]="l.lang">
            {{l.name}}</option>
    </app-stylish-select>
    <button id="url-submit" class="submit-button" type="submit" [disabled]='!transcrypt.captions'
        (click)="submit(this.transcrypt)" [@enterLeaveAnimation]>Get
        Transcript</button>
    <div class="flex-padding"></div>
</div>